#convenios{
	.lista-header{
		background: $dark-red;
		color: $white;
		padding: 5px;
		select{
			background: $dark-red;
			color: $white;
			border: 1px solid $white;
			width: 180px;
			height: 40px;
			padding-left: 10px;
			margin-left: 15px;
		}
	}
	.lista-body{
		img{
			width: 100%;
			height: auto;
		}
		li{
			padding: 30px 20px 40px;
			position: relative;
			display: block;
			&:not(:last-child):before{
				content: "";
				width: 94%;
				height: 2px;
				background: $grey-2;
				position: absolute;
				display: inline-block;
				bottom: -1px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		.row{
			margin: 0;
		}
		.box{
			img{
				padding: 0 20px;
				width: 80%;
				position: absolute;
				top: 35px;
				left: 50%;
				transform: translateX(-50%);
				@media screen and (max-width: 767px) {
					opacity: 0.5;
				}
			}
			.title{
				color: $dark-red;
				font-size: 22px;
				text-transform: capitalize;
				@extend .font-1;
			}
			.content p{
				@extend .font-1;
				margin: 15px 0;
			}
			a:link,a:visited{
				color: $dark-red;
				font-weight: bolder;
			}
			a:hover{
				color: lighten($dark-red,10%);
			}
			&:hover{
				box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
				z-index: 2;
			}
			.box{
				padding: 8px 0px 10px 20px;
				margin: 45px auto;
				height: 40px;
				i.fa:before{
					margin-right: 10px;	
				}
			}
		}
	}
	.lista-body-detalhes{
		background: $grey-3;
		padding: 55px 55px 25px 55px;
		.box{

			img{
				padding: 0 20px;
				margin-top: 25px;
				width: 100%;
			}
			.title{
				color: $black;
				font-size: 22px;
				text-transform: capitalize;
				@extend .font-1;
			}
			.content p{
				@extend .font-1;
				margin: 15px 0;
				color: $black;
			}
			a:link,a:visited{
				color: $dark-red;
				font-weight: bolder;
			}
			a:hover{
				color: lighten($dark-red,10%);
			}
			
			.box{
				padding: 8px 0px 10px 20px;
				margin-top: 15px;
				@media screen and (min-width: 992px) {
				 	margin: 0 0 0 100px;
				} 
				height: 40px;
				width: 170px;
				display: inline-block;
				i.fa:before{
					margin-right: 10px;	
				}
			}
		}
		.lista-beneficios{
			color: $green-1;
			margin-top: 70px;
			li{
				margin: 20px 0;
			}
			.texto{
				display: inline-block;
			}
		}	
	}
	.paginas{
		margin: 50px auto;
		li{
			display: inline-block;
			margin: 0 5px; 
			i.fa{
				color: $dark-blue;
				margin: 0 10px;
				font-size: 8px;
				display: inline-block;
				vertical-align: middle;
			}
			i.fa.min{
				font-size: 4px;
				margin: -4px;
			}
			a:link,a:visited{
					color: $black;
					padding: 10px 5px;
					font-weight: bolder;
					border: 2px solid $white;
			}
			&:not(:last-child):not(:first-child){
				a:link,a:visited{
					border-radius: 10px;
				}
				a:hover{
					border: 2px solid $dark-red;
				}
			}
		}
	}
	.btn-ver-mais{
		margin-left: 50px;
		a:link,a:visited{
			color: $white;
			font-weight: bolder;
			padding: 10px 25px;
			@media screen and (max-width: 767px) {
				padding: 10px 50px;
			}
		}
	}
	ul{
		padding: 0;
	}
	li{
		list-style: none;
	}
}