#cursos-palestras-page{
	ul{
		padding: 0;
	}
	li{
		list-style: none;
	}
	h3.sub-title{
		margin: 50px 0 30px 15px;
	}

	#carousel-palestras-page{
		border-radius: 8px;
		border: 3px solid $dark-red;
		box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
		overflow: hidden;
		.carousel-indicators{
			bottom: 0;
			left: 50px;
			li{
				text-indent: 0;
				height: 20px;
				width: 20px;
				opacity: 0.4;
				background-color: $dark-red;
				color: $white;
				border: 0px;

				&.active{
					background-color: $dark-red;
					opacity: 1;
				}
			}
		}
		.item{
			height: inherit;
		}
	}
	.content{
		display: inline-block;
		margin-left: 15px;
	}
	.dates{
		i.fa{
			display: inline-block;
			font-size: 45px;
			color: $dark-red;
		}
		i.fa +.content{
			color: $dark-red;
			font-weight: bolder;
		}
		margin: 40px 0;
		h4{
			color: $dark-red;
		}
		.inicio,.fim{
			display: inline-block;
			margin-right: 80px;
			i{
				position: relative;
			}
		}
		.inicio i.fa:after{
			content: "\f058" ;
			font-family: FontAwesome;
			position: absolute;
			bottom: -15px;
			right: -15px;
			display: inline-block;
			z-index: 5;
			font-size: 22px;
		}
		.fim i.fa:after{
			content: "\f00d" ;
			font-family: FontAwesome;
			position: absolute;
			bottom: -15px;
			right: -15px;
			display: inline-block;
			z-index: 5;
			font-size: 16px;
			color: $white;
			background-color: $dark-red;
			border-radius: 50%;
			padding: 3px 5px;
		}
	}
	.descricao-boxes{
		margin: 40px 0;
	}
	.inscreva{
		a:link,a:visited{
			padding: 10px 30px;
			font-size: 18px;
		}
	}
	.formulario{
		margin: 40px 0;
		background-color: $grey-2;
		padding: 30px;
		#form-palestras{
			label{
				color: $black;
			}
			input{
				background: $grey-2;
				border-radius: 2px;
			}
			.form-control{
				&:active,&:focus{
					box-shadow:none;
					border: 1px solid $white;
					background-color: $white;
				}
			}
			.box{
				text-align: center;
				font-weight: bolder;
				&.btn{
					padding:10px 15px;
					font-size: 18px;
				}
			}
		}
	}
}