#downloads{
	li{
		list-style-type: none;
	}
	ul{
		padding: 0;
	}
	li.box{
		&:hover{

			box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
			z-index: 2;

			&:before{
				content: "";
				width: 5px;
				height: 100%;
				display: inline-block;
				position: absolute;
				left: 0;
				top: 0;
				background-color: $dark-red;
			}
		}
		img{
			display: inline-block;
			vertical-align: top;
		}
		.content{
			display: inline-block;
			padding-top: 15px;
			padding-left: 15px;
		}
		a:link,a:visited{
			i.fa{
				margin-right: 15px;
			}
			color: lighten($green-1,20%);
		}
		a:hover{
			color: $green-1;
		}
	}
}