#carousel{
	margin-top: 15px;
	.carousel-control.left,.carousel-control.right{
		background-image:none; 
	}
	img{
		width: 100%;
		height: 365px;
	}
	.carousel-caption{
		@extend .font-1;
		height: 365px;

		top:10%;
		left: 15%;
		transform: translateX(-15%);
		bottom: 0;
		text-align: left;
		h1{
			text-transform: uppercase;
			margin-bottom: 0;
		}
		.btn{
			margin-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}
#anuncios{
	margin-top: 20px;

	.box{
		height: 90px;
		&:before{
			content: "anúncio";
			position: absolute;
			color: $dark-blue;
			background: $white;
			top: 0;
			right: 0;
			padding: 2px 8px;
			font-size: 12px;
		}

		.title{
			text-transform: capitalize;
			font-weight: 300;
			padding: 27px 0 0 30px;
			font-size: 1.4em;
			img{
				margin-right: 20px;
			}
		}
	}

}
#noticias{
	.box{
		padding: 0;
		.title,.content{
			color: $dark-blue;
		}
		.content p{
			margin-top: 20px;
			font-family: "Arial";
			font-weight: 400;
		}
		.content-container{
			padding: 20px;
		}
		.fa{
			margin-left: 15px;
		}
		&:after{
			content:"";
			position: absolute;
			width: 40%;
			height: 3px;
			background: $dark-blue;
			bottom: -3px;
		}

		&:hover{
			.title,.content{
				color: $white;
			}
			.content-container,.row{
				background-color: $dark-blue;
			}
			a:link,a:visited{
				color: $white;
				span{
					color: $white;
				}
			}
			&:after{
				content:"";
				position: absolute;
				width: 100%;
				height: 3px;
				background: $dark-red;
				bottom: -3px;
				@extend .slow-e;
			}
		}
	}

}
#cursos-palestras{
	background-color: $grey-2;
	margin-top: 50px;
	padding-bottom: 50px;
	li{
		list-style: none;
	}
	.lista-curso{
		padding: 0;
	}
	.item-curso{
		list-style: none;
		background-color: #fff;
		margin: 0;

		span.date{
			@extend .font-1;

			display: inline-block;
			vertical-align: top;
		
			border: 3px solid $dark-red;
			border-radius: 50%;

			font-size: 1.4em;
			font-weight: 400;
			color: $dark-red;
			text-align: center;
			text-transform: uppercase;

			line-height: 20px;
			word-wrap: break-word;

			width: 75px;
			height: 75px;
			padding: 12px 10px;

			b{
				font-size: 1.8em;
				font-weight: bolder;
			}
		}

		.content{
			padding: 30px 15px 10px 40px;
			.content-text{
				margin: 0;
				display: inline-block;
				padding-left: 15px;
				width: 70%;
			}
			h3.title{
				color: $dark-blue;
				margin:0;
				text-transform: none;
				word-wrap: break-word;
			}
			.content p{
				@extend .font-1;

				color: $dark-red;
				font-weight: 600;
			}
		}
		.link{
			margin-right: 15px;
			padding-bottom: 20px;
		}

		&:after{
			content: "";
			position: absolute;
			background-color: $grey-2;
			height: 2px;
			width: 90%;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0;
		}
		&:hover{
			h3.title{
				color: $dark-red;
			}
			span.date{
				background-color: $dark-red;
				color: $white;
			}
			p{
				color: $dark-red;
			}
			overflow: hidden;
			&:before{
				content: "";
				height: 150px;
				width: 150px;
				top: -50%;
				right: -10%;
				position: absolute;
				display: inline-block;
				background: $dark-red;
				transform: rotate(45deg);
				animation-name: fill;
				animation-duration: 0.5s;
				animation-fill-mode: forwards;
				@keyframes fill{
					from{
						height: 0px;
					}
					to{
						height: 150px;
					}
				}
			}


		}
		// &:hover{

		// 	overflow: hidden;
		// 	span.date{
		// 		border-color: $white;
		// 	}
		// 	.content-text{
		// 		z-index:2;
		// 	}
		// 	p{
		// 		color: $dark-red;
		// 	}
		// 	&:before{
		// 		content: "";
		// 		position: absolute;
		// 		background: $dark-red;
		// 		top: 50%;
		// 		height: 100%;
		// 		transform: translateY(-50%);
		// 		display: inline-block;
		// 		animation-name: fill;
		// 		animation-duration: 1.5s;
		// 		animation-fill-mode: forwards;
		// 		z-index: 0;

		// 		@keyframes fill{
		// 			from{
		// 				width: 0px;
		// 			}
		// 			to{
		// 				width: 100%;
		// 			}
		// 		}
		// 	}
		// }
	}
	.palavra-presidente{
		height: inherit;
		img{
			width: 100%;
		}
		.box{
			.content-container{
				padding: 5px 25px; 
			}
			.title{
				margin-top: 25px;
			}
			.content p{
				@extend .font-1;
				margin-top: 25px;
				margin-bottom: 40px;
				font-weight: 400;
			}
			a:link,a:visited{
				color: $dark-blue;
			}
			&:hover{
				.title,.content{
					color: $white;
				}
				.content-container,.row{
					background-color: $dark-blue;
				}
				a:link,a:visited{
					color: $white;
					span{
						color: $white;
					}
				}
			}
		}
	}
}
#convenio{
	background-color: $dark-blue;
	color: $white;
	padding: 45px 0 150px;
	.title-header{
		margin: 0 0 30px;
		h2{
			margin:0;
		}
	}
	.field-btn{
		right: 20px;
		border-radius: 50%;
		padding: 4px 10px;
	}
	.search{
		margin-top: 8px;
		font-weight: bolder;
		text-transform: uppercase;
		text-align: left;
		@media screen and (min-width: 992px) {
			text-align: right;
		}
	}

	.search-btn{
		background-color: $dark-blue;
		&:before{
			content: "\f107 ";
			font-family: FontAwesome;
		}
	}
}
#lista-convenio{
	margin-top: -125px;

	.logo-container{
		width: 80%;
		margin: 0 auto;
		// padding-left: 20px;
	}
	.container{
		background-color: $white;
		padding: 15px;
		box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.5);
	}
	#convenio-carousel{
		margin-bottom: 25px;
		
		.carousel-control.left,.carousel-control.right{
			background-image: none;
			opacity: 1;
			text-shadow:none;

		}
		.carousel-control.left{
			left: -4%;
			transform: translateX(4%);
		}

		@media screen and(min-width: 992px) {
			.cloned-item{
				display: inline-block !important;
			}
			.carousel-inner .item.left.active {
			  transform: translateX(-25%);
			}
			.carousel-inner .item.right.active {
			  transform: translateX(25%);
			}
			.carousel-inner .item.next {
			  transform: translateX(25%)
			}
			.carousel-inner .item.prev {
			  transform: translateX(-25%)
			}

			.carousel-inner .item.right,
			.carousel-inner .item.left { 
			  transform: translateX(0);
			}
		}
		.cloned-item{
			display: none;
		}
		.item{
			margin-top: 30px;
			text-align: center;
		}
		
		.fa{

		    
			font-size: 50px;
			color: $dark-blue;

			position: absolute;
		    top: 50%; 
		    transform: translateY(-50%);
		    z-index: 5;
		    display: inline-block;
		}

	}
	.link{
		a:link,a:visited{
			background-color: $dark-blue;
			color: #fff;
			padding: 15px;
			span.alt{
				color: #fff;
			}
		}
		a:hover{
			border: 2px solid $dark-blue;
			background: $white;
			color: $dark-blue;
			font-weight: bolder;
			.fa{
				color: $dark-red!important;
			}
		}
		.fa{
			margin-left: 15px;
		}
	}
}

#eventos-realizados{
	img{
		margin-top: 20px;
		height: 315px;
		width:100%;
		border-radius: 4px;
		position: relative;
	}
	p{
		font-weight: bolder;
		color: $dark-blue;
	}
	small,i{
		color: $dark-red;
	}
	.counter{
		padding-top: 25px;
	}
	.btn{
		position: absolute;
		bottom: 20px;
		left: 10%;
		transform: translateX(-10%);
		display: inline-block;
	}
	
	@media screen and (min-width: 992px) {
		.col-md-6:nth-child(2n+1){
			margin-left: -15px;
		}
		.col-md-6:nth-child(2n){
			margin-right: -15px;
		}
	}
	
}
#servicos{
	margin-top: 50px;
	background: $dark-red url('../images/bg-servicos-home.jpg') center no-repeat;
	color: $white;
	padding-bottom: 80px;

	i{
		padding: 8px 10px;
		background-color: $white;
		color: $dark-red;
		border-radius: 6px;
		margin-right: 10px;

	}
	ul{
		margin:0;
		padding: 0;
	}
	li{
		list-style: none;
		margin-top: 5px;
		margin-bottom: 5px;
		&:before{
			content: "\f105";
			font-family: FontAwesome;
			margin-right: 20px;

		}
	}
}
#lista-links{
	
	margin-top: 0;
	.title-header{
		text-align: center;
		color: $dark-blue
	}
	.container{
		box-shadow: none;
	}
	.logo-container{
		width: 80%;
		margin: 0 auto;
		// padding-left: 20px;
	}
	#carousel-link{

		margin-bottom: 25px;
		
		.carousel-control.left,.carousel-control.right{
			background-image: none;
			opacity: 1;
			text-shadow:none;
		}
		.carousel-control.left{
			left: -4%;
			transform: translateX(4%);
		}

		@media screen and(min-width: 992px) {
			.cloned-item{
				display: inline-block !important;
			}
			.carousel-inner .item.left.active {
			  transform: translateX(-25%);
			}
			.carousel-inner .item.right.active {
			  transform: translateX(25%);
			}
			.carousel-inner .item.next {
			  transform: translateX(25%)
			}
			.carousel-inner .item.prev {
			  transform: translateX(-25%)
			}

			.carousel-inner .item.right,
			.carousel-inner .item.left { 
			  transform: translateX(0);
			}
		}
		.cloned-item{
			display: none;
		}
		.item{
			margin-top: 30px;
			margin-bottom: 80px;
			text-align: center;

		}
		
		.fa{

			font-size: 50px;
			color: $dark-blue;

			position: absolute;
		    top: 50%; 
		    transform: translateY(-50%);
		    z-index: 5;
		    display: inline-block;
		}

	}
}