#novos-cadastros{
	.title-header{
		font-weight: bolder;
		color: $dark-red;
	}
	.area-restrita{
		span.fa{
			display: inline-block;
			vertical-align: middle;
			color: $white;
			margin-right: 10px;
			font-size: 16px;
		}
		.box.btn{
			height: 53px;
			line-height: 50px;
			background: $dark-red;
			padding: 0 10px;
			font-size: 30px;
			color: $white;
			font-weight: 300;
			
		}
	}
	.novos{
		a:hover{
			.btn.box{
				background-color: $dark-blue;
				transform: translate(-50%,-50%) scale(1.1,1.1);
			}
		}
		img{
			width: 100%;
			height: 275px;
			border-radius:  8px;
		}
		.btn.box{

			position: absolute;
			height: 53px;
			line-height: 53px;
			font-size: 30px;
			padding: 0 10px;
			background-color: $grey-1;
			color: $white;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
	.vagas{
		margin-top: 50px;
		h2{
			color: $dark-blue;
		}
		ul{
			margin-top: 30px;
		}
		li.box{
			display: inline-block;
			width: 49%;
			margin: 15px 0;

			&:not(:nth-child(2n)):after{
				content: "";
				height: 100%;
				width: 2px;
				background: $grey-2;
				position: absolute;
				display: inline-block;
				right: -3px;
				top: 0;
			}
			&:before{
				width: 0;
			}
		}
		.btn.box.more{
			margin-top: 25px;
			height: 50px;
			line-height: 35px;
			font-size: 18px;
			font-weight: bolder;
			text-transform: uppercase;
			padding-left: 40px;
			padding-right: 40px;
		}
	}
}