$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

//Colors
$grey-1 : #8d8d8d;
$grey-2 : #f2f2f2;
$grey-3 : #f0f0f0;
$grey-4 : #ededed;
$dark-red : #aa3337;
$dark-blue : #24547e;
$green-1: #0d8d34;
$white : #fff;
$black : #000;

//Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Oswald:300,400,600");
.font-1{
	font-family: "Open Sans";
}
.font-2{
	font-family: "Oswald";
}

//includes
@import "includes/header";
@import "includes/navbar";
@import "includes/rodape";
@import "includes/breadcumbs";

//Pages
@import "index";
@import "convenio";
@import "contato";
@import "cursos-palestras";
@import "downloads";
@import "cadastro-curriculo";
@import "eventos";
#institucional{
	padding-bottom: 50px;
}
@import "links-uteis";
@import "vagas";
@import "noticias";

*{
	@extend .fast-e;
}
.fast-e{
	-webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}
.slow-e{

	-webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}
//Global
body{
  color: $grey-1;
  font-size: 14px;
  @extend .font-1;
  padding-bottom: 200px;//Retirar
}

.left{
  float: left;
}
.right{
  float: right;
}
.p-0{
	padding: 0;
}
.m-0{
	margin: 0;
}
span.alt{
	color: $dark-red;
}
span.alt-2{
	color: $dark-blue;
}
.semi-circle{
	border-radius: 40px;
}
.title-header{
	@extend .font-1;
	margin: 40px 0;
	
	span{
		color: $dark-red;
	}
	i{
		margin-right: 25px;	
	}
	@media screen and (min-width: 992px) {
		text-align: justify;
	}
}

.box{
	position: relative;
	margin-top:10px;
	margin-bottom: 15px;
	
	&.min{
		font-size: 0.8em;
	}
	&.max{
		width: 100%;
	}
	&.radius{
		border-radius: 8px;
	}
	&.bordered-low{
		border: 1px solid #DCDCDC;
	}
	&.bg-dark-blue{
		background-color: $dark-blue;
		color: $white;
		a:link,a:visited{
			color: $white;
		}
	}
	&.bg-dark-red{
		background-color: $dark-red;
		color: $white;
		a:link,a:visited{
			color: $white;
		}
	}
	a.link:link,a.link:visited{
		border-radius:20px;
		margin-top: 7px;
		font-weight: bolder;
		font-family: "Arial","Oswald";
	}
	a.link:hover {
		background-color: lighten($white,20%);
	}
	a:hover{
		text-decoration: none;
	}
	.title{
		@extend .font-1;

		font-weight: 600;
		text-transform: uppercase;
	}
	.content p{
		@extend .font-2;

		font-weight: 100;
	}
	.content-container{
		padding: 25px;
	}
	&.zoom-box:hover{
		box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
		z-index: 10;
		transform: scale(1.1,1.1);
		.box{
			z-index:3;
		}
	}

}
.btn {
	&.no-radius{
		border-radius: 0px;
	}
	&:hover{
		color: $white;

	}
}
.voltar-btn{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: 0;
	font-size: 18px;
	width: 145px;
	height: 40px;
	@media screen and (min-width: 992px) {
		position: absolute;
		top: 0;
		right:0;
	}

	.box{
		height: 40px;
		padding: 7px 0;
	}
	i.fa{
		margin-right: 15px;
	}
	a:link,a:visited{
		text-align: left;
		padding: 7px 25px 7px 25px;
	}
}
.content-text {
	margin-top: 40px;
	p{
		margin-top: 0;
		margin-bottom: 20px;
	}
}
.paginacao-btm{
		margin: 50px auto;
		li{
			display: inline-block;
			margin: 0 5px; 
			i.fa{
				color: $dark-blue;
				margin: 0 10px;
				font-size: 8px;
				display: inline-block;
				vertical-align: middle;
			}
			i.fa.min{
				font-size: 4px;
				margin: -4px;
			}
			a:link,a:visited{
					color: $black;
					padding: 10px 5px;
					font-weight: bolder;
					border: 2px solid $white;
			}
			&:not(:last-child):not(:first-child){
				a:link,a:visited{
					border-radius: 10px;
				}
				a:hover{
					border: 2px solid $dark-red;
				}
			}
		}
	}
.share-container{
	font-weight: bolder;
	margin-bottom: 25px;
	i.fa{
		font-size: 16px;
		margin-right: 5px;
	}
	.share-box{
		border-radius: 4px;
		display: inline-block;
		padding: 1px 5px;
		margin: 30px 10px 0 20px;
		position: relative;
	}
	.fb-box{
		background-color: #4763b3;

		a:link,a:visited{
			color: $white;
		}
		i.fa{
			color: $white;
		}
		&:after{
			content: "123";
			border: 1px solid #e0e0e0;
			display: inline-block;
			position: absolute;
			right: -27px;
			top: 0;
			padding: 0px 2px 0px 0 ;
		}
	}
	.twitter-box{
		border:1px solid #e0e0e0;
		i.fa{
			color: #00acee;
		}
		&:after{
			content: "72";
			border: 1px solid #e0e0e0;
			display: inline-block;
			position: absolute;
			right: -20px;
			top: 0;
			padding: 0px 2px 0px 0 ;
		}
	}
	.gplus-box{
		border:1px solid #e0e0e0;

		a:link,a:visited{
			color: $dark-red;
		}
		&:after{
			content: "3";
			border: 1px solid #e0e0e0;
			display: inline-block;
			position: absolute;
			right: -12px;
			top: 0;
			padding: 0px 2px 0px 0 ;
		}
	}
}
.lista-formularios{
	padding: 0;
	margin: 40px 0;

	.item-formulario{
		list-style: none;
		width: 100%;
		background-color: $grey-2;
		border-radius: 6px;
		margin: 10px 0;
		padding: 13px 0;
		position: relative;

		&:before{
			content: "\f105";
			font-family: FontAwesome;
			color: $dark-red;
			display: inline-block;
			left: 30px;
			top: 50%;
			transform: translateY(-50%);
			position: absolute;
			font-weight: bolder;
		}

		&:hover{
			background-color: $dark-red;
			a:link,a:visited{
				color: $white;
			}
			&:before{
				color: $white;
				font-weight: bolder;
			}
		}

		a:link,a:visited{
			color: $dark-red;
			padding: 13px 75px 13px 50px;
		}

	}
}
ul.lista-l-r{
		
	li.box{
		margin: 0 15px 0 15px;
		&:not(:last-child):before{
			content: "";
			width: 100%;
			height: 2px;
			background: $grey-2;
			position: absolute;
			display: inline-block;
			bottom: -1px;
			left: 50%;
			transform: translateX(-50%);
		}
		.title{
			text-transform: capitalize;
			color: $dark-red;
			h3{
				margin: 0 0 20px;
			}
		}
		.content p{
			@extend .font-1;
			margin: 10px 0 20px;
		}

		a:link,a:visited{
			margin-top: 20px;
			margin-bottom: 10px;
			padding: 6px 28px;
		}

		&:hover{

			box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
			z-index: 2;
			@media screen and (min-width: 992px)  {
				&:before{
					content: "";
					width: 5px;
					height: 100%;
					display: inline-block;
					position: absolute;
					left: 0;
					top: 0;
					background-color: $dark-red;
				}
			}
			@media screen and (max-width: 991px) {
				&:before{
					content: "";
					width: 100%;
					height: 5px;
					display: inline-block;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					top: 0;
					background-color: $dark-red;
				}
				
			}
		}
		.date{
			@media screen and (min-width: 992px) {
				position: absolute;
				top: 25px;
				right: 25px;
			}
			display: inline-block;
			text-align: right;
			width: 100%;
			margin-bottom: 10px;

		}
	}
}
// Colocar um buttao dentro do field
.field-btn{
	padding: 4px 6px;
	right: 2px;
	position: absolute;
	top:2px;
	color: $white; 
	border-radius: 4px;
}

//Icons
.icon{
	position: relative;
}
.icon-document:before{
	content: url("../images/icons/document.png");
	height: 30px;
	width: 30px;
}
.icon-dual-user:before{
	content: url("../images/icons/dual-user.png");
	height: 30px;
	width: 30px;
}
.icon-check:before{
	content: url("../images/icons/check.png");
	height: 30px;
	width: 30px;
	display: inline-block;
	vertical-align: top;
}
.icon-user:before{
	content : url("../images/icons/user.png");
	height: 30px;
	width: 30px;
}
.icon-invest:before{
	content: url("../images/icons/invest.png");
	height: 30px;
	width: 30px;
}
.icon-3man:before{
	content: url("../images/icons/3-man.png");
	height: 30px;
	width: 30px;
}
.icon-jornal:before{
	content: url("../images/icons/jornal.png");
	height: 30px;
	width: 30px;
}

//rset
a:link,a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
	li{
		list-style: none;
		margin: 0px;
		padding: 0px;
	}
}

