#breadcumbs{
	color: $dark-blue;
	padding:15px;
	box-shadow: 0 6px 6px 0 rgba(0,0,0,0.1);
	.container{	
		overflow-x:hidden;
	}

	ul{	
		padding: 0;
		list-style: none;
		&:before{
			content: "Você está em";
		}
	}
	li{
		display: inline-block;
		&:before{
			content: "\f105 ";
			font-family: FontAwesome;
			margin-right: 12px;
			margin-left: 12px;
			color: $dark-blue;
			font-weight: bolder;
		}
		&:last-child{
			color: $dark-red;
			&:before{
				content: "\f105 ";
				color: $dark-red;
			}
		}
	}
}