.min-header{
	margin:10px 0;
	
	text-transform: uppercase;
	font-size: 13px;

	i{
		color: $dark-red;
		font-size: 1.2em;
	}
}
.main-header{
	
	span{
		margin-top: 30px;
	}
	.oab{
		@extend .font-1;
		padding: 10px 30px 0 30px
	}	
	.text-oab{
		margin-top: 40px;
		margin-left: 210px;
	}
	.search{
		position: relative;
		.search-btn{
			background-color: $dark-red;
			&:before{
				font-family: FontAwesome;
				content: "\f002";
			}
		}
	}
	.box{
		padding: 10px 2px;
		.title{
			font-size: 1.3em;
		}
		.content{
			font-size: 1.4em;
		}
		a.link:link,a.link:visited{
			padding: 2px 4px;
			font-size: 0.7em;
			background-color: $white;
			color: $black;
		}

		p{
			margin-bottom: 0px;
		}
		@media screen and (max-width: 991px ) {
			display: none;
		}
	}

}

@media screen and (max-width: 767px) {
	#header.scroll{
		position: fixed;
		z-index: 10;
		height: 120px;
		background-color: $white;
		width: 100%;
		top: 0;
		b{
			display: none;
		}
		.oab img{
			height: 50px;
			margin-left: 25%;
		}
		.search{
			margin-top: 5px; 
		}

	}
}